<div class="container-fluid">
    <%= render partial: 'modeldetails/sidebar' %>
    <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
        <%= render partial: 'modeldetails/notice' %>
        <div class="container ml-1">
            <h1 class="mx-5 mt-4 mb-4">Update Organisation</h1>
            <hr>
            <%= render 'form' %>
        </div>
    </main>
	</div>
</div>