<div class="container-fluid">
        <%= render partial: 'modeldetails/sidebar' %>
        <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
<div class="container ml-1">
	<%= render partial: 'modeldetails/notice' %>
	
	<h2 class="mx-5 mt-4 mb-4">Organisation details</h2>
	<center>
	<div>
		<h5 class="mb-5 mt-4 ml-3"><strong class="title">Organisation name - </strong>
  		<span class="data1"><%= @organisation.organisation_name %></span></h5>
	</div>
	</center>
</div>
</main>
    </div>
</div>
<style >
	.title {
		color: #FA8072
	}

	.data1 {
		color: #5AC18E
	}
</style>