<!-- this partial is for show notice -->
<% if flash[:notice] %>
<div class="alert alert-success mt-1" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong><%= flash[:notice] %></strong>
</div>
<% end %>